<div class="navbar-fixed">
	<nav id="hf">
		<div id="navbar" class="navbar-wrapper container">
			<a href="#" class="brand-logo center" style="font-size: 30px">FoodBytes</a>

			<ul class="right">
				<li><a href="#"><i class="small material-icons" style="margin-top: 5px">shopping_cart</i></a></li>
			</ul>
		</div>
	</nav>
</div>