<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="container">
        <%- body %>
    </div>
    <script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>